RAG-&-Vectore-DB/RAG & Vector DB.json
{
  "name": "RAG & Vector DB",
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "triggerOn": "specificFile"
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "drive-trigger",
      "name": "Google Drive Trigger",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [200, 0],
      "id": "download-file",
      "name": "Download file",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [360, 200],
      "id": "embed-docs",
      "name": "Embeddings OpenAI",
      "credentials": {}
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom"
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [560, 220],
      "id": "doc-loader",
      "name": "Default Data Loader"
    },
    {
      "parameters": { "chunkSize": 10000 },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [560, 350],
      "id": "text-splitter",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [900, 0],
      "id": "chat-trigger",
      "name": "When chat message received"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [1100, 0],
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": { "__rl": true, "mode": "list", "value": "gpt-4.1-mini" }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1050, 200],
      "id": "openai-chat",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "mode": "insert",
        "options": { "pineconeNamespace": "policies" }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [420, 0],
      "id": "pinecone-insert",
      "name": "Pinecone Vector Store",
      "credentials": {}
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Policy knowledge base",
        "options": { "pineconeNamespace": "policies" }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [1180, 200],
      "id": "pinecone-retrieve",
      "name": "Pinecone Vector Store Tool",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1200, 350],
      "id": "embed-query",
      "name": "Embeddings OpenAI (Query)",
      "credentials": {}
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [[{ "node": "Download file", "type": "main", "index": 0 }]]
    },
    "Download file": {
      "main": [[{ "node": "Pinecone Vector Store", "type": "main", "index": 0 }]]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [[{ "node": "Pinecone Vector Store", "type": "ai_embedding", "index": 0 }]]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [[{ "node": "Default Data Loader", "type": "ai_textSplitter", "index": 0 }]]
    },
    "Default Data Loader": {
      "ai_document": [[{ "node": "Pinecone Vector Store", "type": "ai_document", "index": 0 }]]
    },
    "When chat message received": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Pinecone Vector Store Tool": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Embeddings OpenAI (Query)": {
      "ai_embedding": [[{ "node": "Pinecone Vector Store Tool", "type": "ai_embedding", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
